<div class="py-8">
  {% paginate blog.articles by section.settings.number_of_articles %}
    <h1 class="text-center text-3xl">{{ blog.title }}</h1>

    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for article in blog.articles %}
          <div class="w-full py-6 px-3">
            <div class="bg-white shadow-xl rounded-lg overflow-hidden">
              {% if article.image %}
                <img
                  class="w-full object-cover"
                  src="{{ article.image | img_url: 'medium' }}"
                  alt="{{ article.image.alt }}"
                  width="300px"
                  height="300px"
                >

              {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover bg-grey-100' }}
              {% endif %}

              <div class="py-10">
                <h1 class="text-xl font-bold p-4">
                  <a href="{{ article.url }}">{{ article.title }}</a>
                </h1>

                {% if article.excerpt != blank %}
                  <p style="padding:0 10px;">{{ article.excerpt }}</p>
                {% else %}
                  <p style="padding:0 10px;" class="main-box">{{ article.content | strip_html | truncatewords: 20 }}</p>
                {% endif %}

                <div class="p-4">
                  <a href="{{ article.url }}" class="text-blue-500 hover:underline">
                    {{- section.settings.blog_read_more -}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="max-w-6xl mx-auto">
      {% render 'pagination' , pagination: paginate %}
      </div>
  {% endpaginate %}


</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "text",
      "id": "blog_read_more",
      "label": "Read More Text",
      "default": "Read More"
    },
    {
      "type": "range",
      "id": "number_of_articles",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Blog Posts per Page",
      "default": 3
    }
  ]
}
{% endschema %}
